body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  padding: 12px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 12px 12px;
}

.content {
  background: #e3f4ff;
  padding: 12px 12px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  padding: 12px;
  text-align: center;
 }

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 10px; 
}

span {
  display: block;
}